/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* ================== */


/* 
* {
	font-family: Helvetica, sans-serif;
	font-size: 1rem;
}

#root {
	display: grid;
	place-content: center;
}

.title {
	font-size: 3rem;
	animation: bounce 3s infinite;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
}

img {
	width: 180px;
}

.sbmt-button {
	border: transparent;
	background-color: green;
	margin: 0 5px;
	font-size: large;
	color: #eaeaea;
	box-shadow: 0 3px 5px 0 greenyellow;
	cursor: pointer;
	border-radius: 5%;
}

.button {
	border: transparent;
	background-color: crimson;
	margin: 0 5px;
	font-size: large;
	color: #eaeaea;
	box-shadow: 0 3px 5px 0 crimson;
	cursor: pointer;
	border-radius: 5%;
}

.button:hover,
.sbmt-button:hover {
	background-color: transparent;
	color: crimson;
	transition: 0.3s ease;
} */
